@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-main-nav-3 {

}

.it-main-nav-3__wrap {
  overflow: hidden;
}



.it-main-nav-3__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  margin: 0 -13px;
  overflow: hidden;
  align-items: flex-start;
}


.it-main-nav-3__list > li {
  list-style-type: none;
  background-color: transparent;
  margin: 0 13px;
  padding: 10px 0;


}


.it-main-nav-3__list ul {
  z-index: 1000;

}

.it-main-nav-3__list > li > a {
  padding: 8px 30px;
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #828282;
  transition: .2s;
  border: 1px solid #828282;
  border-radius: 25px;

}


.it-main-nav-3__list > li  a {
  text-decoration: none;
}

.it-main-nav-3__list > li > a:active,
.it-main-nav-3__list > li.active > a,
.it-main-nav-3__list > li:hover > a {
  color: $main-color;
  font-weight: 400;
  text-decoration: none;
  border-color: $main-color;

}


.it-nav__trigger {
  display: none;
  left: 0;
  top: 0;
  width: 70px;
  height: 100%;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;;
  z-index: 3000;
  border-right: 1px solid #E5E5E5 ;
  background-color: #ffffff;
  @include phones {
    display: block;
  }
}

.it-nav__trigger-line {
  display: block;
  position: absolute;
  left: 54%;
  top: 50%;
  height: 4.3px;
  width: 22px;
  margin-left: -11px;
  background: #787878;
  border-radius: 9px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.it-nav__trigger-line--color2 {
  background: #9FA3B0;
}

.it-nav__trigger-line--top {
  top: 33%;
}

.it-nav__trigger-line--middle {
  top: 48%;
}

.it-nav__trigger-line--bottom {
  top: 63%;
}

.it-nav__trigger.active .it-nav__trigger-line--top {
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.it-nav__trigger.active .it-nav__trigger-line--middle {
  opacity: 0;
}

.it-nav__trigger.active .it-nav__trigger-line--bottom {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}