section.it-activity#it-activity
	.it-all-title
		|	Activity
	.it-activity__wrap
		.it-main-page__all-subtitle
			|    Social
		svg
			defs
				filter#it-svg-filter--grey
					feColorMatrix(type="saturate" values="0")
		ul.it-activity__social-list
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					svg(width="39" height="30").it-activity__social-img-box
						image.it-activity__social-img(  xlink:href="static/img/crypto/activity/social/1.svg")
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					img(src="static/img/crypto/activity/social/2.svg", alt='').it-activity__social-img
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					img(src="static/img/crypto/activity/social/3.svg", alt='').it-activity__social-img
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					img(src="static/img/crypto/activity/social/4.svg", alt='').it-activity__social-img
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					img(src="static/img/crypto/activity/social/5.svg", alt='').it-activity__social-img
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					img(src="static/img/crypto/activity/social/6.svg", alt='').it-activity__social-img
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					img(src="static/img/crypto/activity/social/7.svg", alt='').it-activity__social-img
			li.it-activity__social-item
				a(href="#").it-activity__social-link
					img(src="static/img/crypto/activity/social/8.svg", alt='').it-activity__social-img
		.it-main-page__all-subtitle
			|    Events
		.it-main-page__all-text
			|	Hello world, that text about parthners based on my bad english, but i need to  write something because use lorem ipsum — bad way
		ul.it-activity__events-list
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
			li.it-activity__events-item
				.it-activity__events-top
					.it-activity__events-half.it-activity__events-half--left
						.it-activity__events-title
							|	Event 1
					.it-activity__events-half.it-activity__events-half--right
						.it-activity__events-date
							|	22 apr 18
				.it-activity__events-bottom
					.it-activity__events-desc
						|	Participation becomes
						br
						|	no longer possible
		.it-main-page__all-subtitle
			|    Partners
		.it-main-page__all-text
			|    Hello world, that text about parthners based on my bad english, but i need to  write something because use lorem ipsum — bad way
		ul.it-activity__partners-list
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="static/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="static/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="static/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img
			li.it-activity__partners-item
				a(href="#").it-activity__partners-link
					img(src="static/img/crypto/activity/partners/1.png", alt='').it-activity__partners-img