.it-chart
	.it-chart__title(data-it-chart-title)
		|    Token Distribution
	.it-chart__wrap
		.it-chart__view(data-it-chart="[{\"cols\": [{\"id\":\"1\",\"label\":\"Token\", \"type\":\"string\"},{\"id\":\"\",\"label\":\"Value\", \"type\":\"number\"}],\"rows\": [{\"c\":[{\"v\":\"Miners\"},{\"v\":3}]},{\"c\":[{\"v\":\"Presale\"},{\"v\":1}]},{\"c\":[{\"v\":\"Crowdsale\"},{\"v\":0.1}]},{\"c\":[{\"v\":\"Developers\"},{\"v\":1}]},{\"c\":[{\"v\":\"Bounty campaign\"},{\"v\":2}]},{\"c\":[{\"v\":\"Partnership\"},{\"v\":2}]}]}]")
		.it-chart__legend
			ul.it-chart__list(data-it-chart-list)
				li.it-chart__item(data-it-chart-value)
					|	Miners
				li.it-chart__item(data-it-chart-value)
					|	Presale
				li.it-chart__item(data-it-chart-value)
					|	Crowdsale
				li.it-chart__item(data-it-chart-value)
					|	Developers
				li.it-chart__item(data-it-chart-value)
					|	Bounty campaign
				li.it-chart__item(data-it-chart-value)
					|	Partner
	.it-chart__title(data-it-chart-title)
		|    Token Distribution
	.it-chart__wrap
		.it-chart__view(data-it-chart="[{\"cols\": [{\"id\":\"2\",\"label\":\"Token2\", \"type\":\"string\"},{\"id\":\"\",\"label\":\"Value\", \"type\":\"number\"}],\"rows\": [{\"c\":[{\"v\":\"Miners\"},{\"v\":2222}]},{\"c\":[{\"v\":\"Presale\"},{\"v\":1}]},{\"c\":[{\"v\":\"Crowdsale\"},{\"v\":1}]},{\"c\":[{\"v\":\"Developers\"},{\"v\":1}]},{\"c\":[{\"v\":\"Bounty campaign\"},{\"v\":2}]},{\"c\":[{\"v\":\"Partnership\"},{\"v\":2}]}]}]")
		.it-chart__legend
			ul.it-chart__list(data-it-chart-list)
				li.it-chart__item(data-it-chart-value)
					|	Miners
				li.it-chart__item(data-it-chart-value)
					|	Presale
				li.it-chart__item(data-it-chart-value)
					|	Crowdsale
				li.it-chart__item(data-it-chart-value)
					|	Developers
				li.it-chart__item(data-it-chart-value)
					|	Bounty campaign
				li.it-chart__item(data-it-chart-value)
					|	Partnership