section.it-filter-options
	.it-filter-options__wrap
		span.it-filter-options__title
			|	Sort by
		ul.it-filter-options__list
			li.active
				a(href="#it-overview" )
					|    Goal
			li
				a(href="#it-token" )
					|    Price
			li
				a(href="#it-team" )
					|    Show