section.it-footer-mobile
	.it-container
		.it-footer-mobile__wrap
			.it-footer-mobile__half.it-footer-mobile__half--left
				.it-footer-mobile__date
					|	Presale Start 
					br
					span
						|	31 Apr
					|	Ends
					span
						|	15 Jun.
			.it-footer-mobile__half.it-footer-mobile__half--right
				.it-footer-mobile__buttons
					a(href="#").it-footer-mobile__btn.it-
						|	Go  to website
