nav.it-main-nav-2
	.it-main-nav-2__wrap
		ul.it-main-nav-2__list
			li
				a(href="#")
					|	Overview
				ul
					li
						a(href="#")
							|	More
			li
				a(href="#")
					|	Token
			li
				a(href="#")
					|	Team
			li
				a(href="#")
					|	Roadmap
			li
				a(href="#")
					|	Activity
			li
				a(href="#")
					|	Rating
