nav.it-main-nav-2
	.it-main-nav-2__wrap
		ul.it-main-nav-2__list
			li
				a(href="#it-overview" data-scroll-nav)
					|	Overview
			li
				a(href="#" data-scroll-nav)
					|	Token
			li
				a(href="#" data-scroll-nav)
					|	Team
			li
				a(href="#" data-scroll-nav)
					|	Roadmap
			li
				a(href="#" data-scroll-nav)
					|	Activity
			li
				a(href="#" data-scroll-nav)
					|	Rating
