nav.it-main-nav-3
	.it-main-nav-3__wrap
		ul.it-main-nav-3__list
			li
				a(href="#it-overview" )
					|	ICOs
			li
				a(href="#it-token" )
					|	Cryptocurrency
			li
				a(href="#it-team")
					|	Other filters