.it-social
	ul.it-social__list
		li.it-social__item
			a(href="#").it-social__link
				svg(width="39" height="30").it-social__img-box
					defs
						filter#it-svg-filter--grey
							feColorMatrix(type="saturate" values="0")
					image.it-social__img(  xlink:href="static/img/crypto/activity/social/1.svg")
		li.it-social__item
			a(href="#").it-social__link
				img(src="static/img/crypto/activity/social/2.svg", alt='').it-social__img
		li.it-social__item
			a(href="#").it-social__link
				img(src="static/img/crypto/activity/social/3.svg", alt='').it-social__img
		li.it-social__item
			a(href="#").it-social__link
				img(src="static/img/crypto/activity/social/4.svg", alt='').it-social__img
		li.it-social__item
			a(href="#").it-social__link
				img(src="static/img/crypto/activity/social/5.svg", alt='').it-social__img
		li.it-social__item
			a(href="#").it-social__link
				img(src="static/img/crypto/activity/social/6.svg", alt='').it-social__img
		li.it-social__item
			a(href="#").it-social__link
				img(src="static/img/crypto/activity/social/7.svg", alt='').it-social__img
		li.it-social__item
			a(href="#").it-social__link
				img(src="static/img/crypto/activity/social/8.svg", alt='').it-social__img