section.it-token
	ul.it-token__outer-wrap
		li.it-token__outer-item
			.it-all-title
				|	Token details
			ul.it-token__details-list(data-token-list)
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Token symbol:
					span.it-token__details-value
						| WTF
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
						span.it-token__details-prompt(data-token-promt)
							|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.

				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Fundrasing target:
					span.it-token__details-value
						| 850,000,000 USD
						span.it-token__details-prompt-button(data-prompt-button)
							|	?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Token symbol:
					span.it-token__details-value
						| Ethereum
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Soft cap:
					span.it-token__details-value
						| 425,000,000 USD
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Role of token:
					span.it-token__details-value
						| Utility
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Total supply:
					span.it-token__details-value
						| 1,000,000,000 WTF
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Escrow agent:
					span.it-token__details-value
						| No
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Tokens for sale:
					span.it-token__details-value
						| 80% (500,000,000 WTF)
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Whitelist:
					span.it-token__details-value
						| Yes (Until 15 Dec 18)
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Additional emission:
					span.it-token__details-value
						| No
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
					span.it-token__details-prompt(data-token-promt)
						|    The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
			span.it-main-page__all-more
				|    Get details
		li.it-token__outer-item
			.it-all-title
				|    Token and Funds Distribution
			.it-main-page__all-title
				|    Token distribution date
			.it-main-page__all-text
				|    Token will be distributed  within 48 hours of payment
			.it-main-page__all-title
				|    Allocatione
			.it-main-page__all-text
				|    Whitelist only. Max cap per participant
			.it-main-page__all-title
				|    Vesting periode
			.it-main-page__all-text
				|    Hello world, period of westing based on my bad english, but i need to write something  because use lorem ipsum — bad way
			.it-main-page__all-title
				|    Additional bonus or distributing note
			.it-main-page__all-text
				|    Hello world, period of westing based on my bad english, but i need to write something  because use lorem ipsum — bad way
			span.it-main-page__all-more
				|    Show ditribution
			.it-token__card
				ul.it-token__card-outer-wrap
					li.it-token__card-outer-item
						.it-token__card-title
							|	Token Distribution
						.it-token__card-wrap
							.it-token__card-chart(data-it-donutchart)
							//.it-token__card-half.it-token__card-half--left
								.it-token__card-chart-box

						//	.it-token__card-half.it-token__card-half--right
								//ul.it-token__card-list
								//	li.it-token__card-item
								//		|	Miners
								//	li.it-token__card-item.it-token__card-item--color-1
								//		|	Developers
								//	li.it-token__card-item.it-token__card-item--color-2
								//		|	Presale
								//	li.it-token__card-item.it-token__card-item--color-3
								//		|	Bounty campaign
								//	li.it-token__card-item.it-token__card-item--color-4
								//		|	Crowdsale
								//	li.it-token__card-item.it-token__card-item--color-5
								//		|	Partnership
					li.it-token__card-outer-item
						.it-token__card-title
							|	Token Distribution
						.it-token__card-wrap
							.it-token__card-half.it-token__card-half--left
								.it-token__card-img-box
									img(src="static/img/crypto/token/2.png", alt='').it-token__card-img
							.it-token__card-half.it-token__card-half--right
								ul.it-token__card-list
									li.it-token__card-item
										|	Miners
									li.it-token__card-item.it-token__card-item--color-1
										|	Developers
									li.it-token__card-item.it-token__card-item--color-2
										|	Presale
									li.it-token__card-item.it-token__card-item--color-3
										|	Bounty campaign
									li.it-token__card-item.it-token__card-item--color-4
										|	Crowdsale
									li.it-token__card-item.it-token__card-item--color-5
										|	Partnership






