section.it-token#it-token
	ul.it-token__outer-wrap
		li.it-token__outer-item
			.it-all-title
				|	Token details
			ul.it-token__details-list(data-token-list)
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Token symbol:
						span.it-token__details-prompt(data-token-promt)
							|    1The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
					span.it-token__details-value
						| WTF
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Token symbol:
						span.it-token__details-prompt(data-token-promt)
							|    2The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
					span.it-token__details-value
						| WTF
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Token symbol:
						span.it-token__details-prompt(data-token-promt)
							|    3The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
					span.it-token__details-value
						| WTF
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
				li.it-token__details-item(data-token-item)
					span.it-token__details-key
						|    Token symbol:
						span.it-token__details-prompt(data-token-promt)
							|    4The ERC20 token standard describes the functions and events that  an Ethereum token contract has to implement.
					span.it-token__details-value
						| WTF
						span.it-token__details-prompt-button(data-prompt-button)
							|    ?
			//.it-hidden#it-token-text(data-show-more-text)
			//	|    lorem ipsummlmksjvfljslkdjfvlksjdfvkjs jsdfhsljkdfjlksn fdsdljkfhsvlkjn  sdfjslkjdhflskjf ahdfljksdhdfljhs afjdhajklshfljkhas ashdfkjhkj
			//a(href="#it-token-text").it-main-page__all-more(data-show-more-button="Close details" )
			//	span.it-main-page__all-more-text(data-show-more-text)
			//		|	Get details
		//li.it-token__outer-item
		//	.it-all-title
		//		|    Token and Funds Distribution
		//	.it-main-page__all-title
		//		|    Token distribution date
		//	.it-main-page__all-text
		//		|    Token will be distributed  within 48 hours of payment
		//	.it-main-page__all-title
		//		|    Allocatione
		//	.it-main-page__all-text
		//		|    Whitelist only. Max cap per participant
		//	.it-main-page__all-title
		//		|    Vesting periode
		//	.it-main-page__all-text
		//		|    Hello world, period of westing based on my bad english, but i need to write something  because use lorem ipsum — bad way
		//	.it-main-page__all-title
		//		|    Additional bonus or distributing note
		//	.it-main-page__all-text
		//		|    Hello world, period of westing based on my bad english, but i need to write something  because use lorem ipsum — bad way
		//	.it-hidden#it-ditribution-text(data-show-more-text)
		//		|    lorem ipsummlmksjvfljslkdjfvlksjdfvkjs jsdfhsljkdfjlksn fdsdljkfhsvlkjn  sdfjslkjdhflskjf ahdfljksdhdfljhs afjdhajklshfljkhas ashdfkjhkj
		//	a(href="#it-ditribution-text").it-main-page__all-more(data-show-more-button="Close ditribution" )
		//		span.it-main-page__all-more-text(data-show-more-text)
		//			|   Show ditribution
		//	.it-token__card
		//		ul.it-token__card-outer-wrap
		//			li.it-token__card-outer-item
		//				include chart
		//			li.it-token__card-outer-item
		//

