section.it-tranding
	.it-container
		.it-all-title
			| Hotest & Tranding ICO
		.it-tranding__wrap
			ul.it-tranding__list.box-carousel.owl-carousel(data-owl-items='3', data-owl-items-loop='true', data-owl-carousel )
				li.it-tranding__item
					.it-tranding__img-box
						img.it-tranding__img(src='assets/img/crypto/tranding/1.jpg', alt='')
					.it-tranding__content
						.it-tranding__content-half.it-tranding__content-half--left
							.it-tranding__title
								| Eligma
						.it-tranding__content-half.it-tranding__content-half--right
							.it-tranding__status
								|    Pre-sale
						.it-tranding__img-logo-box
							img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/1.png', alt='')
				li.it-tranding__item
					.it-tranding__img-box
						img.it-tranding__img(src='assets/img/crypto/tranding/2.jpg', alt='')
					.it-tranding__content
						.it-tranding__content-half.it-tranding__content-half--left
							.it-tranding__title
								| Simply Vital Health
						.it-tranding__content-half.it-tranding__content-half--right
							.it-tranding__status
								|    active
						.it-tranding__img-logo-box
							img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/2.png', alt='')
				li.it-tranding__item
					.it-tranding__img-box
						img.it-tranding__img(src='assets/img/crypto/tranding/3.jpg', alt='')
					.it-tranding__content
						.it-tranding__content-half.it-tranding__content-half--left
							.it-tranding__title
								| Welltrado
						.it-tranding__content-half.it-tranding__content-half--right
							.it-tranding__status.it-tranding__status--color
								|    upcoming main sale 
						.it-tranding__img-logo-box
							img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/3.png', alt='')
				li.it-tranding__item
					.it-tranding__img-box
						img.it-tranding__img(src='assets/img/crypto/tranding/4.jpg', alt='')
					.it-tranding__content
						.it-tranding__content-half.it-tranding__content-half--left
							.it-tranding__title
								| Eligma
						.it-tranding__content-half.it-tranding__content-half--right
							.it-tranding__status
								|    Pre-sale
						.it-tranding__img-logo-box
							img.it-tranding__img-logo(src='assets/img/crypto/tranding/logo/4.png', alt='')

