@import '__vars';
@import '__mixins';
@import "smart-grid";
@import "base";
/******************* sportmpro *******************/
/*@import 'sportmpro/header';
@import "sportmpro/nav";
@import "sportmpro/breadcrumbs";
@import "sportmpro/card";
@import "sportmpro/partners";
@import "sportmpro/about-us";
@import "sportmpro/photo";
@import "sportmpro/callback";
@import "sportmpro/modal";
@import "sportmpro/tabs";
@import "sportmpro/advantages";
@import "sportmpro/base-offer";
@import "sportmpro/base-card";
@import "sportmpro/examples";
@import "sportmpro/base-steps";
@import "sportmpro/seo-text";*/
/******************* vetklinika72 *******************/
//@import 'vetklinika72/header';
//@import "vetklinika72/nav";
/*
@import "vetklinika72/base-offer";
@import "vetklinika72/service";
@import "vetklinika72/symptoms";
@import "vetklinika72/callback";
@import "vetklinika72/about-us";
@import "vetklinika72/gallery";
@import "vetklinika72/doctors";
@import "vetklinika72/reviews";
@import "vetklinika72/help";
@import "vetklinika72/footer";
*/
/******************* crypto *******************/
@import 'crypto/header';
@import "crypto/nav";
@import "crypto/nav2";
@import "crypto/breadcrumbs";
@import "crypto/card";
@import "crypto/overview";
@import "crypto/team";
@import "crypto/token";
@import "crypto/sale-schedule";
@import "crypto/roadmap";
@import "crypto/footer";
@import "crypto/activity";

/******************* all-style *******************/

.it-main-page__half--right a {
  text-decoration: underline;
}

.it-main-page__half--right a:active,
.it-main-page__half--right a:hover {
  color: $main-color;
  text-decoration: underline;
}

.it-main-page__content:visited {
  color: #1E1E1E;

}

.it-main-page__content p,
.it-main-page__all-text {
  color: #6D6D6D;
  font-size: rem(16px);
  padding: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}

.it-main-page__all-title {
  color: #1E1E1E;
  font-size: rem(16px);
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}

.it-main-page__all-video {
  margin-bottom: 20px;
}

.it-main-page__all-subtitle {
  font-size: rem(20px);
  margin-bottom: 10px;
  font-weight: 500;
}

.it-main-page__all-more {
  color: #3EC7C6;
  text-decoration: none !important;
  font-size: rem(18px);
  margin-bottom: 40px;
  margin-top: 15px;
  cursor: pointer;
  position: relative;
  display: inline-block ;
  padding-right: 23px;

}

.it-main-page__all-more:hover {
  color: #3EC7C6;
  text-decoration: none !important;
}

.it-main-page__all-more:active,
.it-main-page__all-more:visited {
  color: #3EC7C6;
  text-decoration: none !important;
}

.it-main-page__all-more:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 8px;
  top: 50%;
  right: 0;
  margin-top: -4px;
  transition: .2s;
  background: url("../img/crypto/base/arrow.png") center no-repeat;
}

.it-main-page__all-more.active:after {
  transform: rotate(-90deg);
  top: 48%;

}

/******************* it-all-style *******************/

.it-container {
  max-width: 1170px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.it-container * {
  box-sizing: border-box;
}

.it-all-title {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: rem(24px);
  font-weight: 500;
  color: #1E1E1E;
  padding: 0;
}

.it-all-subtitle {
  font-size: rem(16px);
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px;
}

.it-all-title + .it-all-subtitle {
  margin-top: -25px;
  @include phones {
    margin-top: -10px;
  }
}

.it-all--indent {
  margin-bottom: 80px;
  @include phones {
    margin-bottom: 40px;
  }
}

.it-all--min-indent {
  margin-bottom: 40px;
}

.it-link {
  color: #333333;
  font-size: rem(16px);
  padding-left: 30px;
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

.it-link:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/crypto/base/link.png") no-repeat center;
}

.it-btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  user-select: none;
  border: none;
  padding: 16.5px 10px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  background-color: $main-color;
  color: #ffffff;
  text-transform: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  position: relative;
}

.it-btn:hover {
  background: $main-color-hover;
}

.it-btn:hover,
.it-btn:active,
.it-btn:visited {
  text-decoration: none;
  color: #ffffff;
}

.it-btn--transparent {
  background-color: transparent;
  color: $main-color;
  border: 1px solid $main-color;
  text-decoration: none;
}

.it-btn--transparent:active,
.it-btn--transparent:visited {
  color: $main-color;
  text-decoration: none;
}

.it-btn--transparent:hover {
  border: 1px solid $main-color;
  color: #ffffff;
  background-color: $main-color;
  text-decoration: none;
}

.it-main-page__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.it-main-page__half--left {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(33.33333% - 40px);
}

.it-main-page__half--right {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(66.66667% - 40px);
  padding-bottom: 5%;
}

.it-main-page__all-more + .it-all-title {
  margin-top: 0;
}

.it-hidden {
  display: none;
}

/******************* media *******************/

@media (max-width: 1200px) { /*desctop*/

}

@media (max-width: 992px) { /*laptop*/
  html {
    font-size: 15px;
  }

  .it-container {
    padding: 0 15px;
  }
}

@media (max-width: 720px) { /* tablets*/
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) { /*phones*/
  html {
    font-size: 13px;
  }

  .it-main-page__half--left {
    width: calc(100% - 40px);
  }

  .it-main-page__half--right {
    width: calc(100% - 40px);
  }

}

