doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width", initial-scale=1)
        title crypto
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic', rel='stylesheet')
        link(rel="stylesheet" type="text/css" href="static/css/main.css" )
    body
        .it-main-page__wrapper
            .it-main-page__content
                include crypto/header
                .it-container
                    .it-main-page__inner-wrap
                        aside.it-main-page__half.it-main-page__half--left
                          include crypto/card
                        .it-main-page__half.it-main-page__half--right
                            include crypto/overview
                            include crypto/token
                            include crypto/sale-schedule
                            include crypto/team
                            include crypto/roadmap
                            include crypto/activity
        include crypto/footer
        .it-seporator
            |   Cryptocurrency
        .it-main-page__wrapper
            .it-main-page__content.it-main-page__content--bg
                include crypto/сryptocurrency-header
                include crypto/currency
        include crypto/footer

        script(src='static/js/jquery.min.js', type='text/javascript')
        script(src='static/js/jquery.sticky.js', type='text/javascript' )
        script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
        script(src='static/js/perfect-scrollbar.min.js', type='text/javascript')
        script(src='static/js/main.js', type='text/javascript')