@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-guides {
  padding-top: 60px;
  @include phones {
    padding-top: 30px;
  }
}

.it-guides__main-title {
  font-size: rem(27px);
  font-weight: 500;
  margin-bottom: 30px;
  color: #1E1E1E;
}

.it-guides__wrap {
  padding: 0 0 30px;
  @include clearfix;
  margin-bottom: -20px;
  overflow: hidden;
}


.it-guides__item {
  list-style-type: none;
  padding-left: 0;
  float: left;
  margin-bottom: 20px;
  width: calc(33.333333% - 30px);
  @include laptop {
    width: calc(50% - 30px);
  }
  @include phones {
    width: 100% ;
  }
}


.it-guides .grid-sizer,
.grid-item {

}

.grid-item--width2 {  }

.it-guides__inner-item {
  margin: 0 auto;
}

.it-guides__img-box {
  height: 179px;
  overflow: hidden;
  display: block;

}

.it-guides__img {
  display: block;

}

.it-guides__content {
  padding: 18.5px 25px;
  border: 1px solid #DEDEDE;
  min-height: 150px;
}

.it-guides__title {
  color: #1E1E1E;
  font-size: rem(20px);
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}

.it-guides__title:hover {
	color: #1E1E1E;
	text-decoration: none;
}

.it-guides__title:active,
.it-guides__title:visited {
	color: #1E1E1E;
	text-decoration: none;
}

.it-guides__desc {
  color: #4F4F4F;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
  text-decoration: none;
  display: block;
}

.it-guides__desc:hover {
	color: #4F4F4F;
	text-decoration: none;
}

.it-guides__desc:active,
.it-guides__desc:visited {
	color: #4F4F4F;
	text-decoration: none;
}


.it-guides__bottom {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
  justify-content: space-between;

}

.it-guides__bottom-half {
  margin-bottom: 5px;
}


.it-guides__time {
  padding-left: 30px;
  position: relative;
  @include laptop {
    padding-left: 15px;
  }

}

.it-guides__time:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 100%;
  @include laptop {
    width: 10px;
    height: 10px;
    top: 4px;
  }

}

.it-article__time--icon-1:before {
  background: url("../img/crypto/article/time/1.svg") no-repeat center;
  background-size: 100%;
}


.it-guides__time-title {
  font-weight: 300;
  font-size: 15px;
  color: #000000;
  margin-right: 3px;
}


.it-guides__time-value {
  font-weight: 700;
  font-size: 15px;
  color: #1E1E1E;
  @include laptop {
    font-size: 14px;
  }
}