@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-invest__wrap {
  overflow: hidden;
}

.it-invest__list {
  padding: 0;
  margin: 0;
  @include row-flex();
  overflow: hidden;
  margin-bottom: -40px;
  @include phones {
    margin-bottom: -20px;
  }
}

.it-invest__item {
  @include col();
  @include size(4);
  @include size-md(6);
  border-radius: 3px;
  border: 1px solid rgba(229, 229, 229, 1);
  background-color: #ffffff;
  padding: 3% 3%;
  list-style-type: none;
  margin-bottom: 40px;
  @include phones {
    margin-bottom: 20px;
  }
}

.it-invest__top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8%;

}

.it-invest__top-half--left {
  width: 40%;
}

.it-invest__top-half--right {
  width: 60%;
}

.it-invest__img-box {
  max-width: 56px;
  width: 100%;
  height: 72px;
  overflow: hidden;
  @include phones {
    max-width: 24px;
    height: 32px;
  }
}

.it-invest__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-invest__title {
  color: #1F1F1F;
  font-size: rem(30px);
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
  @include desktop {
    font-size: 27px;
  }
  @include phones {
    font-size: 16px;
  }
}

.it-invest__value,
.it-invest__value span {
  color: #828282;
  font-size: (24px);
  font-weight: 500;
  @include phones {
    font-size: 12px;
  }

}

.it-invest__bottom span {
  line-height: 1;
}

.it-invest__value {
  @include tablets {
    display: none;
  }
}


.it-invest__value--mobile {
  display: none;
  @include tablets {
    display: block;
  }
}
