@import "../__vars";
@import "../__mixins";
@import "../smart-grid";


.it-social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px -12px 0;
  overflow: hidden;
}

.it-social__item {
  list-style-type: none;
  padding-left: 0;
  margin: 0 12px 20px;
  overflow: hidden;
}

.it-social__link {
  max-width: 39px;
  max-height: 30px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

}



.it-social__img:hover {
  filter: url(#it-svg-filter--grey);
  filter: url(/#it-svg-filter--grey);
}

.it-social__img-box {
  width: 100%;
  height: 100%;
}

.it-social__img {
  transition: 0.6s;
}